#*
database/*
ebin/*
logs/*
db/*
*~
*.beam
*.tmproj
*.dump
*.DAT
*.LOG
*.log
*.cfg
Makefile
*.status
*.so
src/XmppAddr.asn1db
src/XmppAddr.erl
src/XmppAddr.hrl
src/eldap/ELDAPv3.asn1db
src/eldap/ELDAPv3.erl
src/eldap/ELDAPv3.hrl


