/******* global *******/
body { 
    background-color: #fff; 
    font-family: arial, verdana, helvetica, sans-serif;
    font-size:   25px;
    margin: 0px;
}
.hidden {
    display: none;
}
.clear {
    clear: both;
}
.spacer {
    height: 5px;
}
img {
    border-style: none;
}
/******* display areas *******/
#navigation-wrapper {
    color: #000;
    background-color: #FFF;
    height: 50px;
    font-weight: lighter;
    letter-spacing: -1px;
    border-bottom: 2px solid #DDD;
}
#navigation {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
#messages { 
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}
#page-wrapper {
    margin: 0 auto;
    margin-top: 30px;
    width: 1000px;
    text-align: left;
}
#page {
    margin: 0px;
}
#footer-wrapper {
    margin: 0 auto;
    margin-top: 15px;
    width: 1000px;
    text-align: left;
}
#footer {
    width: 30%;
    float: left;
}
/******* page style *******/
#page h1 {
    font-size: 1.25em;
}
#page p {
    margin-top: 5px;
    margin-bottom: 5px;
}
#page h2 {
    font-size: 1.1em;
}
#page a {
    color: #367da6;
    text-decoration: none;
}
#page a:visited {
    color: #367da6;
    text-decoration: none;
}
#page a:hover {
    color: #367da6;
    text-decoration: none;
}
#page a:visited:hover {
    color: #367da6;
    text-decoration: none;
}

/******* navigation style *******/
#navigation h1 {
    font-size: 1.5em;
    float: left;
    padding: 0px;
    margin: 0px;
}
#navigation strong {
    color: #FFF;
}
#navigation a {
    color: #888;
    text-decoration: none;
}
#navigation a:visited {
    color: #888;
    text-decoration: none;
}
#navigation a:hover {
    color: #367da6;
    text-decoration: none;
}
#navigation a:visited:hover {
    color: #367da6;
    text-decoration: none;
}
#navigation ul {
    list-style-type: none;
    float: right;
    margin-top: 10px;
}
#navigation li {
    display: inline;
    font-size: 1.0em;
    margin: 0px;
    margin-left: 3px;
} 

/*******  form style    *******/
.form label {
    float: left;
    clear: left;
    font-size: 1.0em;
    font-weight: lighter;
    text-align: right;
    margin-right: 10px;
    margin-top:20px
}
.form input {
    width: 12.5em;
    font-size: inherit;
    font-weight: inherit;
    margin-top:15px
}
.form-button input {
    font-size: inherit;
    font-weight: inherit;
    margin-top:10px;
    float: right;
    text-align: right;
    clear: both;
}
/*******  login style   *******/
.login label {
    width: 4.5em;
}
.login-button {
    width: 17.65em;
}
/******* register style *******/
.register label {
  width: 2.5em;
}
.register-button {
  width: 15.6em;
}
/******* domain user style *******/
.domain-user label {
  width: 4.85em;
}
.domain-user-button {
  width: 15em;
}
/******* profile style *******/
.profile label {
  width: 4.85em;
}
.profile-button {
  width: 15em;
}
/******* system user style *******/
.system-user label {
  width: 8.6em;
}
.system-user input {
  font-size: .9em;
  margin-top:15px;
}
.system-user select {
  font-size: .9em;
  margin-top: 15px;
}
.system-user-button {
  width: 19em;
}
/******* create domain style *******/
.create-domain input {
}
.create-domain-button {
  width: 9.9em;
}
/******* domain style *******/
.domain input {
}
.domain-button {
  width: 10.5em;
}
/******* data table style *******/
table.data {
  text-align: left;
  margin-top: 10px;
  border: 1px solid #DDD;
  border-collapse: collapse;
}
.data .even {
  background-color: #FFF;
}
.data .odd {
  background-color: #EBEBEB;
}
.data input {
  font-size: 0.9em;
}
.data th {
  background-color: #EEE;
  padding: 5px 15px;
  text-align: center;
  border: 1px solid #DDD;
}
.data td {
  padding: 5px 15px;
  text-align: center;
  font-size: 0.9em;
  border: 1px solid #DDD;
}

/******* validation messages *******/
.LV_invalid { 
    background-color: #FFF;
    border: none;
    color: #AA0000;
    font-size: 1.0em;
    font-weight: lighter;
}
.LV_validation_message { 
    margin-top: 16px;
    margin-left: 5px;
}

/******* flash messages *******/
#messages p { 
    margin: 0px;
}
#messages .notice { 
    background-color: #FFE7BA;
    border: 2px solid #FFA500;
    padding: 20px;
    margin-bottom: 2px;
}
#messages .error { 
    background-color: #F09090;
    border: 2px solid #660000;
    padding: 20px;
    margin-bottom: 2px;
}
