/******* global *******/
body { 
    background-color: #fff; 
    font-family: arial, verdana, helvetica, sans-serif;
    font-size:   25px;
    margin: 0px;
}
.hidden {
    display: none;
}
.clear {
    clear: both;
}
.spacer {
    height: 5px;
}
img {
    border-style: none;
}
/******* display areas *******/
#navigation-wrapper {
    color: #000;
    background-color: #FFF;
    height: 50px;
    font-weight: lighter;
    letter-spacing: -1px;
    border-bottom: 2px solid #BBB;
}
#navigation {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
#subtitle-wrapper {
    margin: 0 auto;
    margin-bottom: 40px;
    padding-left: 100px;
    width: 1000px;
    text-align: left;
}
#subtitle {
    margin: 0px;
}
#toolbar-wrapper {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
#toolbar {
    margin: 0px;
}
#breadcrumbs-wrapper {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
#breadcrumbs {
    margin: 0px;
}
#page-wrapper {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
#page {
    margin: 0px;
}
#footer-wrapper {
    margin: 0 auto;
    margin-top: 15px;
    width: 1000px;
    text-align: left;
}
#footer {
    width: 30%;
    float: left;
}
/******* navigation style *******/
#navigation img {
    float: left;
    padding: 0px;
    margin: 0px;
}
#navigation strong {
    color: #000;
}
#navigation a {
    color: #888;
    text-decoration: none;
}
#navigation a:visited {
    color: #888;
    text-decoration: none;
}
#navigation a:hover {
    color: #800;
    text-decoration: none;
}
#navigation a:visited:hover {
    color: #800;
    text-decoration: none;
}
#navigation ul {
    list-style-type: none;
    float: right;
    margin-top: 10px;
    margin-bottom: 0px;
}
#navigation li {
    display: inline;
    font-size: 1.0em;
    margin: 0px;
    margin-left: 10px;
} 
/******* up-button style *******/
.up-button {
    height:32px;
    background-image:url('/images/button-up-background.png');
    background-repeat:repeat-x;
    border: 1px solid #999;
    font-size: inherit;
    font-weight: inherit;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    clear: both;
}
/*******  form style    *******/
.form label {
    float: left;
    clear: left;
    font-size: 1.0em;
    font-weight: lighter;
    text-align: right;
    margin-right: 10px;
    margin-top: 20px
}
p.form {
    margin: 0px;
}
.form input {
    width: 12.5em;
    font-size: inherit;
    font-weight: inherit;
    margin-top: 15px
}
.form a {
    color: #000;
    outline: none;
    text-decoration: none;
}
.form a:visited {
    color: #000;
    outline: none;
    text-decoration: none;
}
.form a:hover {
    color: #000;
    outline: none;
    text-decoration: none;
}
.form a:visited:hover {
    color: #000;
    outline: none;
    text-decoration: none;
}
.form-button {
    float: right;
}
/*******  login style   *******/
.login label {
    width: 4.5em;
}
.login-button {
    width: 17.65em;
}
/******* register style *******/
.register label {
  width: 2.5em;
}
.register-button {
  width: 15.6em;
}
/******* host user style *******/
.host-user label {
  width: 4.85em;
}
.host-user-button {
  width: 15em;
}
/******* profile style *******/
.profile label {
  width: 4.85em;
}
.profile-button {
  width: 15em;
}
/******* user system style *******/
.user-system label {
  width: 8.6em;
}
.user-system input {
  font-size: .9em;
  margin-top:15px;
}
.user-system select {
  font-size: .9em;
  margin-top: 15px;
}
.user-system-button {
  width: 19em;
}
/******* host add style *******/
.host-add input {
    font-size: .9em;
}
.host-add-button {
  width: 15.0em;
}
/******* host style *******/
.host input {
}
.host-button {
  width: 10.5em;
}
/******* toolbar style *******/
#toolbar a {
    color: #000;
    margin:0px;
    outline: none;
    text-decoration: none;
}
#toolbar a:visited {
    color: #000;
    outline: none;
    text-decoration: none;
}
#toolbar a:hover {
    color: #000;
    outline: none;
    text-decoration: none;
}
#toolbar a:visited:hover {
    color: #000;
    outline: none;
    text-decoration: none;
}
#toolbar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#toolbar li {
    display: inline;
    font-size: 1.0em;
    margin: 0px;
} 
.toolbar-button {
}
/******* data table style *******/
.data table {
    text-align: left;
    margin-top: 10px;
    border: 1px solid #DDD;
    border-collapse: collapse;
}
.data th {
    background-color: #DDD;
    padding: 5px 15px;
    text-align: center;
    border: 1px solid #CCC;
}
.data td {
    padding: 5px 15px;
    text-align: center;
    font-size: 0.9em;
    border: 1px solid #CCC;
}
tr.data-edit {
}
tr.data-edit-select {
    background-color: #DDD;
}
.data-item {
    position: relative;
    padding: 0px;
    margin: 0px;
}
.data-edit-controls {
    position: absolute;
    right: -14px;
    padding: 0px;
    z-index: 1;
    display: none;
}
/******* validation messages *******/
.LV_invalid { 
    background-color: #FFF;
    border: none;
    color: #AA0000;
    font-size: 1.0em;
    font-weight: lighter;
}
.LV_validation_message { 
    margin-top: 16px;
    margin-left: 5px;
}
