/******* global *******/
body { 
    background-color: #fff; 
    font-family: arial, verdana, helvetica, sans-serif;
    font-size:   25px;
    margin: 0px;
}
.clear {
    clear: both;
}
.spacer {
    height: 5px;
}
img {
    border-style: none;
}
/******* display areas *******/
#navigation-wrapper {
    color: #000;
    background-color: #FFF;
    height: 52px;
    font-weight: lighter;
    letter-spacing: -1px;
    border-bottom: 2px solid #BBB;
}
#navigation {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
#subtitle-wrapper {
    margin-bottom: 30px;
    text-align: left;
}
#subtitle {
    margin: 0 auto;
    width: 1000px;
    padding-left: 100px;
}
#title-wrapper {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
#title {
    margin: 0px;
}
#toolbar-wrapper {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
#toolbar {
    margin: 0px;
}
#breadcrumbs-wrapper {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
#breadcrumbs {
    margin: 0px;
}
#page-wrapper {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
#page {
    margin: 0px;
}
#footer-wrapper {
    margin: 0 auto;
    margin-top: 15px;
    width: 1000px;
    text-align: left;
}
#footer {
    width: 30%;
    float: left;
}
/******* title style *******/
#title h1 {
    padding: 0px;
    margin: 0px 0px 15px 0px;
    font-size: 1.2em;
}
/******* toolbar style *******/
#toolbar a {
    color: #888;
    margin:0px;
    outline: none;
    text-decoration: none;
}
#toolbar a:visited {
    color: #888;
    outline: none;
    text-decoration: none;
}
#toolbar a:hover {
    color: #00F;
    outline: none;
    text-decoration: none;
}
#toolbar a:visited:hover {
    color: #00F;
    outline: none;
    text-decoration: none;
}
#toolbar ul {
    margin: 0px 0px 0px -5px;
    padding: 0px;
}
#toolbar li {
    display: inline;
    font-size: 0.85em;
    margin: 0px 0px 0px 5px;
} 
.toolbar-button {
}
/******* navigation style *******/
#navigation img {
    float: left;
    padding: 0px;
    margin: 0px;
}
#navigation strong {
    color: #000;
}
#navigation a {
    color: #888;
    text-decoration: none;
}
#navigation a:visited {
    color: #888;
    text-decoration: none;
}
#navigation a:hover {
    color: #00F;
    text-decoration: none;
}
#navigation a:visited:hover {
    color: #00F;
    text-decoration: none;
}
#navigation ul {
    list-style-type: none;
    float: right;
    margin-top: 12px;
    margin-bottom: 0px;
}
#navigation li {
    display: inline;
    font-size: 1.0em;
    margin: 0px;
    margin-left: 10px;
} 
/******* up-button style *******/
.up-button {
    height:32px;
    background-image:url('/images/button-up-background.png');
    background-repeat:repeat-x;
    border: 1px solid #999;
    font-size: inherit;
    font-weight: inherit;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    clear: both;
}
.up-button:hover {
    border-color: #39F;
}
/*******  form style    *******/
.form label {
    float: left;
    clear: left;
    font-size: inherit;
    font-weight: lighter;
    text-align: right;
    margin-right: 10px;
    margin-top: 15px
}
p.form {
    margin: 0px;
}
.form input {
    width: 12.5em;
    font-size: inherit;
    font-weight: inherit;
    margin-top: 10px
}
.form select {
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px
}
.form-buttons ul {
    list-style-type: none;
    float: right;
    margin-top: 15px;
    margin-bottom: 0px;
}
.form-buttons li {
    display: inline;
    font-size: 1.0em;
    margin: 0px;
    margin-left: 10px;
} 
.form a {
    color: #000;
    outline: none;
    text-decoration: none;
}
.form a:visited {
    color: #000;
    outline: none;
    text-decoration: none;
}
.form a:hover {
    color: #000;
    outline: none;
    text-decoration: none;
}
.form a:visited:hover {
    color: #000;
    outline: none;
    text-decoration: none;
}
.form-text span {
    padding-left: 2px;
}
/*******  login style   *******/
.login label {
    width: 4.5em;
}
.login-buttons {
    width: 17.65em;
}
/******* register style *******/
.register label {
    width: 2.5em;
}
.register-buttons {
    width: 15.6em;
}
/******* add user style *******/
.user-add label {
    width: 7.75em;
}
.user-add-buttons {
    width: 20.9em;
} 
/******* host user style *******/
.host-user label {
    width: 4.85em;
}
.host-user-buttons {
    width: 15em;
}
/******* profile style *******/
.profile label {
    width: 4.85em;
}
.profile-buttons {
    width: 15em;
}
/******* client profile style *******/
.client-profile label {
    width: 2.45em;
}
.client-profile-buttons {
    width: 15.6em;
}
/******* host add style *******/
.host-add label {
    width: 1.85em;
}
.host-add-buttons {
    width: 15.0em;
}
.host-add-text .LV_validation_message {
    margin-left: 3.0em;
}
/******* add host user style *******/
.host-user-add label {
    width: 7.75em;
}
.host-user-add-buttons {
    width: 20.90em;
}
/******* host user register style *******/
.host-user-register label {
    width: 3.0em;
}
.host-user-register-buttons {
    width: 16.2em;
}
/******* data table style *******/
.data table {
    text-align: left;
    margin-top: 10px;
    border: 1px solid #DDD;
}
.data th {
    background-color: #DDD;
    padding: 5px 15px;
    text-align: center;
    border: 1px solid #CCC;
}
.data td {
    padding: 5px 15px;
    text-align: center;
    font-size: 0.9em;
    border: 1px solid #CCC;
}
.data a {
    color: #00F;
    outline: none;
    text-decoration: none;
}
.data a:visited {
    color: #00F;
    outline: none;
    text-decoration: none;
}
.data a:hover {
    color: #00F;
    outline: none;
    text-decoration: none;
}
.data a:visited:hover {
    color: #00F;
    outline: none;
    text-decoration: none;
}
tr.data-edit {
}
tr.data-edit-select {
    background-color: #444;
    color: #DDD;
}
.data-item {
    position: relative;
    padding: 0px;
    margin: 0px;
}
.data-edit-controls {
    position: absolute;
    right: -5px;
    top: 2px;
    padding: 0px;
    z-index: 1;
    display: none;
}
.data-edit-select a {
    color: #FFCC33;
    outline: none;
    text-decoration: none;
}
.data-edit-select a:visited {
    color: #FFCC33;
    outline: none;
    text-decoration: none;
}
.data-edit-select a:hover {
    color: #FFCC33;
    outline: none;
    text-decoration: underline;
}
.data-edit-select a:visited:hover {
    color: #FFCC33;
    outline: none;
    text-decoration: underline;
}
/******* validation messages *******/
.LV_invalid { 
    background-color: #FFF;
    border: none;
    color: #AA0000;
    font-size: 1.0em;
    font-weight: lighter;
}
.LV_validation_message { 
    margin-top: 13px;
    margin-left: 2px;
}
/******* flash messages *******/
.flash_container {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
.flash {
    background-color: #F09090;
    border: 2px solid #660000;
}
.flash a {
    color: #000;
    outline: none;
    text-decoration: none;
}
.flash a:visited {
    color: #000;
    outline: none;
    text-decoration: none;
}
.flash a:hover {
    color: #00F;
    outline: none;
    text-decoration: none;
}
.flash a:visited:hover {
    color: #00F;
    outline: none;
    text-decoration: none;
}
/*******  client *******/
#client {
    -moz-box-shadow: 0px 0px 25px #aaa;
    -webkit-box-shadow: 0px 0px 25px #aaa;
    height: 300px;
}
#client .vsplitbar {
	width: 5px;
	background: #DDD url('/images/vgrabber.gif') no-repeat center;
}
#client .vsplitbar.active {
	background: #DDD url('/images/vgrabber.gif') no-repeat center;
	opacity: 0.7;
}
/*******  client-items *******/
#client-items {
}
#client-items-display {
	overflow: auto;
}
#client-items-toolbar  {
    color: #FFF;
    background-color: #DDD;
    height: 35px;
    margin: 0px;
    padding: 0px;
}
#client-items-display ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#client-items-display li {
    font-size: 0.85em;
    margin: 0;
} 
#client-items-display .contact {
    padding: 10px 20px 10px 20px;
}
#client-items-display .online {
    color: #000;
}
#client-items-display .offline {
    color: #CCC;
}
#client-items-display .selected {
}
/*******  client-messages *******/
#client-messages {
}
#client-messages-display {
	overflow: auto;
    border-left: 1px solid #BBB;
}
#client-messages-toolbar  {
    color: #FFF;
    background-color: #DDD;
    height: 35px;
    margin: 0px;
    padding: 0px;
}
/*******  client-item-selector *******/
#client-item-selector {
    text-align: center;
}
#client-item-selected {
    color: #000;
    cursor: pointer;
}
ul#client-item-choices {
    list-style-type: none;
    color: #000;
    background-color: #DDD;
    margin: 0px;
    padding: 0px;
}
#client-item-choices li {
    font-size: 0.85em;
    background-color: #DDD;
    text-align: left;
    display: block;
    margin: 0;
} 
#client-item-choices .choice {
    background-color: #444;
    color: #DDD;
}
